<form
  id="register-school-form"
  [formGroup]="formGroup"
  class="flex flex-col w-full divide-y"
  (ngSubmit)="onSubmitForm()"
>
  <p class="font-m_black text-2xl">Register New School</p>
  <ng-container *ngIf="$formInputs | async as formInputs">
    <div class="w-full flex flex-col py-2 space-y-4">
      <div class="flex flex-col space-y-2">
        <p class="text-lg">School Information</p>
        <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-3">
          <div class="flex flex-col space-y-1 w-full">
            <h6 class="text-left text-xs font-bold">
              School Acronym (Optional)
            </h6>
            <mat-form-field>
              <mat-label>Enter school acronym</mat-label>
              <input
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    schoolAcronym,
                    formInputs.schoolAcronymInput
                  )
                "
                type="text"
                class="!uppercase"
                matInput
                [formControl]="schoolAcronym"
              />
              <mat-error> Acronyms may be 3 characters long. </mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col space-y-1 w-full">
            <h6 class="text-left text-xs font-bold">School Name</h6>
            <mat-form-field class="example-full-width">
              <mat-label>Enter school name</mat-label>
              <input
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    schoolName,
                    formInputs.schoolNameInput
                  )
                "
                type="text"
                matInput
                [formControl]="schoolName"
              />
              <mat-error> Please, enter a school name </mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col w-full">
            <p class="font-bold text-xs">Branch</p>
            <mat-form-field>
              <mat-label> Select branch </mat-label>
              <mat-select
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    branchName,
                    formInputs.branchNameSelect
                  )
                "
                [formControl]="branchName"
                class="w-full"
              >
                <ng-container *ngIf="$branches | async as branches">
                  <mat-option
                    *ngFor="let branch of branches | slice : 1; index as ind"
                    [value]="branch.value"
                  >
                    {{ branch.text }}
                  </mat-option>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="AppUtilities.hasFormControlError(branchName)">
                <span> Please, select a branch </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col space-y-1 w-full">
            <h6 class="text-left text-xs font-bold">Institution Id</h6>
            <mat-form-field>
              <mat-label>Enter institution id</mat-label>
              <input
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    institutionId,
                    formInputs.institutionIdInput
                  )
                "
                type="text"
                matInput
                [formControl]="institutionId"
              />
              <mat-error> Please, enter institution ID. </mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col space-y-1 w-full">
            <h6 class="text-left text-xs font-bold">School Reg No</h6>
            <mat-form-field>
              <mat-label>Enter registration number</mat-label>
              <input
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    schoolRegNo,
                    formInputs.schoolRegNoInput
                  )
                "
                type="text"
                matInput
                [formControl]="schoolRegNo"
              />
              <mat-error> Please, provide registration no. </mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col space-y-1 w-full">
            <h6 class="text-left text-xs font-bold">Authorized User</h6>
            <mat-form-field class="example-full-width">
              <mat-label>Enter authorized user</mat-label>
              <input
                type="text"
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    authorizedUser,
                    formInputs.authorizedUserInput
                  )
                "
                [formControl]="authorizedUser"
                matInput
                #message
              />
              <mat-hint align="start" class="font-bold"
                >Enter full name</mat-hint
              >
              <mat-error> Please, enter a name </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <p class="text-lg">Contact Details</p>
        <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-3">
          <div class="flex flex-col space-y-1 w-full">
            <h6 class="text-left text-xs font-bold">Email Address</h6>
            <mat-form-field class="example-full-width">
              <mat-label>Enter email address</mat-label>
              <input
                type="email"
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    emailAddress,
                    formInputs.emailAddressInput
                  )
                "
                [formControl]="emailAddress"
                matInput
                #message
              />
              <mat-error *ngIf="AppUtilities.hasFormControlError(emailAddress)">
                @if (emailAddress.hasError('required')) { Please, enter email
                address } @else if (emailAddress.hasError('email')) { Email
                address is invalid } @else {}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col w-full space-y-1">
            <p class="font-bold text-xs">Country (Optional)</p>
            <mat-form-field>
              <mat-label> Pick a country </mat-label>
              <mat-select
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    country,
                    formInputs.countriesSelect
                  )
                "
                [formControl]="country"
                class="w-full"
              >
                <ng-container *ngIf="$countries | async as countries">
                  <mat-option
                    *ngFor="let country of countries | slice : 1; index as ind"
                    [value]="country.value"
                  >
                    {{ country.text }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-col w-full space-y-1">
            <p class="font-bold text-xs">Region (Optional)</p>
            <mat-form-field>
              <mat-label> Pick a region </mat-label>
              <mat-select
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    region,
                    formInputs.regionSelect
                  )
                "
                [formControl]="region"
                class="w-full"
              >
                <ng-container *ngIf="$regions | async as regions">
                  <mat-option
                    *ngFor="let region of regions | slice : 1; index as ind"
                    [value]="region.value"
                  >
                    {{ region.text }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-col w-full space-y-1">
            <p class="font-bold text-xs">District (Optional)</p>
            <mat-form-field>
              <mat-label> Pick a district </mat-label>
              <mat-select
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    district,
                    formInputs.districtSelect
                  )
                "
                [formControl]="district"
                class="w-full"
              >
                <ng-container *ngIf="$districts | async as districts">
                  <mat-option
                    *ngFor="let district of districts | slice : 1; index as ind"
                    [value]="district.value"
                  >
                    {{ district.text }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-col w-full space-y-1">
            <p class="font-bold text-xs">Ward (Optional)</p>
            <mat-form-field>
              <mat-label> Pick a ward </mat-label>
              <mat-select
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    ward,
                    formInputs.wardSelect
                  )
                "
                [formControl]="ward"
                class="w-full"
              >
                <ng-container *ngIf="$wards | async as wards">
                  <mat-option
                    *ngFor="let ward of wards | slice : 1; index as ind"
                    [value]="ward.value"
                  >
                    {{ ward.text }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-col space-y-1 w-full">
            <h6 class="text-left text-xs font-bold">Address (Optional)</h6>
            <mat-form-field>
              <mat-label>Enter residential address</mat-label>
              <input
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    address,
                    formInputs.addressInput
                  )
                "
                type="text"
                matInput
                [formControl]="address"
              />
            </mat-form-field>
          </div>
          <div class="flex flex-col space-y-1 w-full">
            <h6 class="text-left text-xs font-bold">Website (Optional)</h6>
            <mat-form-field>
              <mat-label>Enter website URL</mat-label>
              <input
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    website,
                    formInputs.websiteInput
                  )
                "
                type="text"
                matInput
                [formControl]="website"
              />
            </mat-form-field>
          </div>
          <div class="flex flex-col space-y-1 w-full">
            <h6 class="text-left text-xs font-bold">Phone number (Optional)</h6>
            <mat-form-field>
              <mat-label>Enter telehone number</mat-label>
              <span matTextPrefix>+255 &nbsp;</span>
              <input
                type="text"
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    phoneNumber,
                    formInputs.phoneNumber
                  )
                "
                matInput
                [formControl]="phoneNumber"
                placeholder="555-555-555"
              />
            </mat-form-field>
          </div>
          <div class="flex flex-col space-y-1 w-full">
            <h6 class="text-left text-xs font-bold">Mobile number</h6>
            <mat-form-field>
              <mat-label>Enter mobile number</mat-label>
              <span matTextPrefix>+255 &nbsp;</span>
              <input
                matInput
                (blur)="
                  matchHtmlElementToFormControl(
                    $event,
                    mobileNumber,
                    formInputs.mobileNumber
                  )
                "
                type="text"
                [formControl]="mobileNumber"
                placeholder="555-555-555"
              />
              <mat-error>
                @if (mobileNumber.hasError('required')) { Please enter a mobile
                number } @else if (mobileNumber.hasError('pattern')) { Tanzanian
                phone numbers are 9 digits long and start with either 6 or 7. }
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-2 w-full">
        <p class="text-lg">Account Details</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3 w-full relative">
          <ng-container formArrayName="details">
            <div
              *ngFor="let detail of details.controls; index as ind"
              [@inOutAnimation]
              formGroupName="{{ ind }}"
              class="flex flex-col"
            >
              <p class="text-xs font-bold">{{ "Account No." }} {{ ind + 1 }}</p>
              <div class="flex flex-row items-center w-full">
                <div
                  class="flex flex-col md:flex-row md:space-x-0 space-x-0 md:space-y-0 space-y-2 w-full"
                >
                  <div class="w-full">
                    <mat-form-field class="w-full">
                      <mat-label>Account Number</mat-label>
                      <input
                        class="w-fit md:w-full"
                        matInput
                        formControlName="accountNo"
                        (blur)="matchAccountNumber($event, ind)"
                      />
                      @if (details.controls.at(ind)?.get('accountNo') &&
                      details.controls.at(ind)?.get('accountNo')?.invalid &&
                      details.controls.at(ind)?.get('accountNo')?.touched) {
                      <mat-error> Missing account number </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="max-w-min">
                    <mat-form-field>
                      <mat-label>Currency</mat-label>
                      <mat-select
                        (blur)="matchCurrency($event, ind)"
                        matSelect
                        formControlName="currency"
                        [disabled]="true"
                      >
                        <mat-option [value]="'TZS'">TZS</mat-option>
                      </mat-select>
                      <mat-error> Specify a currency </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div
                  class="flex flex-row justify-center items-center space-x-2 flex-none w-fit"
                >
                  <button
                    *ngIf="ind === details.controls.length - 1"
                    (click)="addBankDetail(ind)"
                    type="button"
                    mat-icon-button
                  >
                    <mat-icon class="text-green-600">add</mat-icon>
                  </button>
                  <button
                    *ngIf="details.controls.length > 0 && ind !== 0"
                    (click)="removeBankDetail(ind)"
                    type="button"
                    mat-icon-button
                    color="warn"
                  >
                    <mat-icon class="text-red-600">delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="flex flex-row items-center justify-end w-full py-2">
    <button (click)="resetForm()" mat-button color="warn" type="button">
      Reset
    </button>
    <button
      type="submit"
      form="register-school-form"
      mat-flat-button
      color="primary"
    >
      Register
    </button>
  </div>
</form>
