<div class="flex flex-col w-full">
  <div class="flex flex-row flex-wrap items-center w-full justify-between">
    <label class="input input-sm input-bordered flex items-center gap-2 w-auto">
      <input
        #searchInput
        (keyup)="applyFilter($event)"
        type="text"
        class="grow"
        [placeholder]="'defaults.search' | translate"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </label>
    <div
      *ngIf="selection.hasValue()"
      class="flex flex-row items-center space-x-1"
    >
      <button
        (click)="deselectedAllRows.emit()"
        type="button"
        mat-flat-button
        color="accent"
      >
        {{ "defaults.cancel" | translate }}
      </button>
      <button
        (click)="onDeleteRowClicked($event)"
        type="button"
        mat-flat-button
        color="warn"
      >
        {{ "defaults.delete" | translate }}
      </button>
    </div>
  </div>
  <div class="relative">
    <table
      mat-table
      [dataSource]="dataSource"
      class="!w-full custom-table"
      matSort
    >
      <ng-container matColumnDef="radioButton">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            [checked]="selection.hasValue()"
            (change)="$event ? selection.clear() : null"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="onCheckboxChange(row)"
            #checkbox
            [checked]="row | isSelectedRow"
            [disabled]="checkbox.checked"
            [aria-label]="checkboxLabel(row)"
            [disabledInteractive]="false"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="academicYear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{
            "setupPages.academic.labels.tableColumns.academicYear" | translate
          }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.academicYear }}</td>
      </ng-container>
      <ng-container matColumnDef="academicStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{
            "setupPages.academic.labels.tableColumns.academicStatus" | translate
          }}
        </th>
        <td mat-cell *matCellDef="let element">
          <app-active-inactive
            [label]="element.academicStatus"
          ></app-active-inactive>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="headers$ | async"></tr>
      <tr
        class="!cursor-pointer"
        mat-row
        *matRowDef="let row; columns: headers$ | async"
        (click)="onCheckboxChange(row)"
      ></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          {{ "defaults.errors.noDataMatchingFilter" | translate }}
          <span class="!font-semibold"> "{{ searchInput.value }}" </span>
        </td>
      </tr>
    </table>
    <mat-paginator
      class="pt-2"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
      #paginator
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
