<div
  *ngIf="isModern === 'true'; else modernDesign"
  class="flex flex-col w-full h-full py-2 space-y-4"
>
  <ul
    class="flex flex-row items-center py-1 px-0 list-none overflow-x-auto snap-x snap-mandatory space-x-2 justify-between"
  >
    <li>
      <div
        class="py-6 px-0 w-52 bg-[#FFE1A9] rounded-lg grid place-items-center"
      >
        <h6 class="text-xl font-light">
          {{ "dashboardPage.labels.totalSchools" | translate }}
        </h6>
        <h6 class="text-3xl font-semibold">{{ totalSchools() }}</h6>
      </div>
    </li>
    <li>
      <div
        class="py-6 px-0 w-52 bg-[#FFFAB7] rounded-lg grid place-items-center"
      >
        <h6 class="text-xl font-light">
          {{ "dashboardPage.labels.activeSchools" | translate }}
        </h6>
        <div class="flex flex-row items-center">
          <div class="progress-circle">
            <div #circle class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
              </div>
              <div class="inside-circle">{{ activeSchool() }}</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div
        class="py-6 px-0 w-52 bg-[#B29EFF] rounded-lg grid place-items-center"
      >
        <h6 class="text-xl font-light">
          {{ "dashboardPage.labels.billsIssued" | translate }}
        </h6>
        <h6 class="text-3xl font-semibold">{{ billsIssued() }}</h6>
      </div>
    </li>
    <li>
      <div
        class="py-6 px-0 w-52 bg-[#A7C4FF] rounded-lg grid place-items-center"
      >
        <h6 class="text-xl font-light">
          {{ "dashboardPage.labels.students" | translate }}
        </h6>
        <h6 class="text-3xl font-semibold">{{ students() }}</h6>
      </div>
    </li>
    <li>
      <div
        class="py-6 px-0 w-52 bg-[#DBFFAB] rounded-lg grid place-items-center"
      >
        <h6 class="text-xl font-light">
          {{ "dashboardPage.labels.users" | translate }}
        </h6>
        <h6 class="text-3xl font-semibold">{{ users() }}</h6>
      </div>
    </li>
  </ul>
  <div class="w-full grid grid-cols-1 gap-2 lg:grid-cols-2">
    <div
      class="w-full flex flex-row items-end justify-between h-32 bg-[#8DE582] px-2 py-2 rounded-lg"
    >
      <div class="flex flex-col w-full">
        <h6 class="text-2xl font-light">
          {{ "dashboardPage.labels.bankUsers" | translate }}
        </h6>
        <img
          class="w-20"
          src="../assets/assets/images/Account-balance.png"
          alt=""
          srcset=""
        />
      </div>
      <h6 class="text-3xl font-semibold mx-4">{{ bankUsers() }}</h6>
    </div>
    <div
      class="w-full flex flex-row-reverse items-end justify-between h-32 bg-[#C8EAFF] px-2 py-2 rounded-lg"
    >
      <div class="flex flex-col items-end">
        <h6 class="text-2xl font-light text-right">
          {{ "dashboardPage.labels.schoolUsers" | translate }}
        </h6>
        <img
          class="w-20"
          src="../assets/assets/images/School.png"
          alt=""
          srcset=""
          style="
            filter: invert(16%) sepia(84%) saturate(3945%) hue-rotate(190deg)
              brightness(89%) contrast(101%);
          "
        />
      </div>
      <h6 class="text-3xl font-semibold mx-4">{{ schoolUsers() }}</h6>
    </div>
  </div>
  <div class="w-full grid grid-cols-1 gap-2 lg:grid-cols-2">
    <div class="flex flex-col col-span-full w-full bg-[#F25921] p-2 rounded-lg">
      <h6 class="text-xl font-light text-[#ffffff]">
        {{ "dashboardPage.labels.collectedAmount" | translate }}
      </h6>
      <div
        class="flex flex-row items-center justify-between bg-[#F26F21] rounded-lg pl-2 pr-1 py-2"
      >
        <div class="flex flex-col">
          <h4 class="text-2xl text-[#ffffff]">
            {{ collectedAmount() | currency : "TZS" }}
          </h4>
          <h6 class="text-gray-200 font-light text-sm">
            {{ today | date : "MMM yyyy" }}
          </h6>
        </div>
        <img
          class="w-24"
          style="
            filter: invert(100%) sepia(12%) saturate(7473%) hue-rotate(197deg)
              brightness(119%) contrast(94%);
          "
          src="../assets/assets/images/mask-1.png"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
</div>

<ng-template #modernDesign>
  <div class="flex flex-col w-full h-full py-2 space-y-4">
    <ul
      class="flex flex-row items-center py-1 px-0 list-none overflow-x-auto snap-x snap-mandatory space-x-2 justify-between"
    >
      <li>
        <div class="py-6 px-0 w-52 bg-white rounded-lg grid place-items-center">
          <h6 class="text-xl font-light">
            {{ "dashboardPage.labels.totalSchools" | translate }}
          </h6>
          <h6 class="text-3xl font-semibold">{{ totalSchools() }}</h6>
        </div>
      </li>
      <li>
        <div class="py-6 px-0 w-52 bg-white rounded-lg grid place-items-center">
          <h6 class="text-xl font-light">
            {{ "dashboardPage.labels.activeSchools" | translate }}
          </h6>
          <div class="flex flex-row items-center">
            <div class="progress-circle">
              <div #circle class="circle">
                <div class="mask full">
                  <div class="fill"></div>
                </div>
                <div class="mask half">
                  <div class="fill"></div>
                </div>
                <div class="inside-circle">{{ activeSchool() }}</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="py-6 px-0 w-52 bg-white rounded-lg grid place-items-center">
          <h6 class="text-xl font-light">
            {{ "dashboardPage.labels.billsIssued" | translate }}
          </h6>
          <h6 class="text-3xl font-semibold">{{ billsIssued() }}</h6>
        </div>
      </li>
      <li>
        <div class="py-6 px-0 w-52 bg-white rounded-lg grid place-items-center">
          <h6 class="text-xl font-light">
            {{ "dashboardPage.labels.students" | translate }}
          </h6>
          <h6 class="text-3xl font-semibold">{{ students() }}</h6>
        </div>
      </li>
      <li>
        <div class="py-6 px-0 w-52 bg-white rounded-lg grid place-items-center">
          <h6 class="text-xl font-light">
            {{ "dashboardPage.labels.users" | translate }}
          </h6>
          <h6 class="text-3xl font-semibold">{{ users() }}</h6>
        </div>
      </li>
    </ul>
    <div class="w-full grid grid-cols-1 gap-2 lg:grid-cols-2">
      <div
        class="w-full flex flex-row items-end justify-between h-32 bg-white px-2 py-2 rounded-lg"
      >
        <div class="flex flex-col w-full">
          <h6 class="text-2xl font-light">
            {{ "dashboardPage.labels.bankUsers" | translate }}
          </h6>
          <img
            class="w-20"
            src="../assets/assets/images/Account balance.png"
            alt=""
            srcset=""
          />
        </div>
        <h6 class="text-3xl font-semibold mx-4">{{ bankUsers() }}</h6>
      </div>
      <div
        class="w-full flex flex-row-reverse items-end justify-between h-32 bg-white px-2 py-2 rounded-lg"
      >
        <div class="flex flex-col items-end">
          <h6 class="text-2xl font-light text-right">
            {{ "dashboardPage.labels.schoolUsers" | translate }}
          </h6>
          <img
            class="w-20"
            src="../assets/assets/images/School.png"
            alt=""
            srcset=""
          />
        </div>
        <h6 class="text-3xl font-semibold mx-4">{{ schoolUsers() }}</h6>
      </div>
    </div>
    <div class="w-full grid grid-cols-1 gap-2 lg:grid-cols-2">
      <div
        class="flex flex-col col-span-full w-full bg-[#F25921] p-2 rounded-lg"
      >
        <h6 class="text-xl font-light text-[#ffffff]">
          {{ "dashboardPage.labels.collectedAmount" | translate }}
        </h6>
        <div
          class="flex flex-row items-center justify-between bg-[#F26F21] rounded-lg pl-2 pr-1 py-2"
        >
          <div class="flex flex-col">
            <h4 class="text-2xl text-[#ffffff]">
              {{ collectedAmount() | currency : "TZS" }}
            </h4>
            <h6 class="text-gray-200 font-light text-sm">
              {{ today | date : "MMM yyyy" }}
            </h6>
          </div>
          <img
            class="w-24"
            style="
              filter: invert(100%) sepia(12%) saturate(7473%) hue-rotate(197deg)
                brightness(119%) contrast(94%);
            "
            src="../assets/assets/images/mask-1.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>
  </div>
</ng-template>
