<div class="py-10 px-10 flex flex-col divide-y">
  <h1 class="text-xl md:text-2xl p-0 font-m_black">Registered Schools</h1>
  <ng-container *ngIf="$schoolsListView | async as schoolsListView">
    <mat-selection-list #schools>
      @for (school of schoolsListView; track school) {
      <mat-list-option [selected]="school.selected" [value]="school.value">{{
        school.text
      }}</mat-list-option>
      }
    </mat-selection-list>
    <p>Options selected: {{ schools.selectedOptions.selected.length }}</p>
  </ng-container>
</div>
