<ngx-sonner-toaster
  position="top-right"
  [richColors]="true"
></ngx-sonner-toaster>

<form
  [formGroup]="formGroup"
  action=""
  id="forgot-password-form"
  class="flex flex-col w-full py-2 space-y-3"
  (ngSubmit)="submitForm()"
>
  <div class="flex flex-col space-y-1 w-full">
    <h6 class="text-left text-xs font-bold">Username</h6>
    <mat-form-field appearance="outline">
      <input
        placeholder="Enter username"
        type="text"
        matInput
        [formControl]="username"
      />
      <mat-error> Please, provide a username. </mat-error>
    </mat-form-field>
  </div>
  <div class="flex flex-col w-full">
    <p class="font-bold text-xs">Secret Question</p>
    <mat-form-field appearance="outline">
      <mat-select
        placeholder="Find your question"
        [formControl]="secretQuestion"
        class="w-full"
      >
        <ng-container *ngIf="$secretQuestions | async as secretQuestions">
          <mat-option
            *ngFor="let question of secretQuestions | slice : 1; index as ind"
            [value]="question.value"
          >
            {{ question.text }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="AppUtilities.hasFormControlError(secretQuestion)">
        <span> Please, select a question. </span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="flex flex-col space-y-1 w-full">
    <h6 class="text-left text-xs font-bold">Answer</h6>
    <mat-form-field appearance="outline">
      <input
        placeholder="Your answer"
        type="password"
        matInput
        [formControl]="answer"
      />
      <mat-error> Please fill </mat-error>
    </mat-form-field>
  </div>
  <div class="flex flex-col space-y-1 w-full">
    <h6 class="text-left text-xs font-bold">Capcha code</h6>
    <mat-form-field appearance="outline">
      <input
        placeholder="Enter code below"
        type="text"
        matInput
        [formControl]="capcha"
      />
      <mat-error> Please, enter capcha code </mat-error>
    </mat-form-field>
  </div>
  <div class="flex flex-row items-center space-x-2 w-full">
    <img
      #capchaImage
      [src]="
        (getAllElementsMap() | async)!
          | getCapchaImageSourcePipe : EForgotPasswordForm.CAPCHA_IMAGE
      "
      alt=""
      srcset=""
    />
    <button (click)="refreshCapcha()" type="button" mat-icon-button>
      <mat-icon svgIcon="refresh-ccw" matPrefix></mat-icon>
    </button>
  </div>
  <div class="w-full flex flex-row items-center justify-between">
    <button
      mat-button
      type="button"
      class="flex flex-row items-center i-have-password"
      (click)="backToLogin()"
    >
      <mat-icon svgIcon="chevron-left" matPrefix></mat-icon>
      I have a password
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      form="forgot-password-form"
    >
      Submit
    </button>
  </div>
</form>
