<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="example-tree bg-transparent w-full h-full"
  #tree
>
  <mat-tree-node *matTreeNodeDef="let node">
    <li class="mat-tree-node !h-fit py-0.5">
      <button
        #btn
        (click)="
          node.children.length > 0
            ? toggleNode(node, btn)
            : nodeClicked($event, node)
        "
        [ngClass]="node.isChild ? '!ml-10 my-1 !font-light' : ''"
        [class]="
          (node | isSidenavActiveLink : currentPathName()) ? 'bg-[#f26f21]' : ''
        "
        type="button"
        class="mat-tree-node btn btn-ghost w-full h-full relative text-white text-sm hover:bg-[#f26f21]"
      >
        <ng-container *ngIf="s_isFullyExpanded(); else midExpanded">
          <div
            class="absolute top-0 left-0 right-0 bottom-0 w-full h-full flex flex-row items-center space-x-1 p-1"
          >
            <mat-icon
              *ngIf="!node.isChild"
              [svgIcon]="node | sidenavItemPipe"
            ></mat-icon>
            <h6 class="text-sm font-medium pt-1 mx-2">
              <!-- {{ "sideNavItems." + node.name.trim() | translate }} -->
              {{ node.name.trim() | translate }}
            </h6>
          </div>
        </ng-container>
        <ng-template #midExpanded>
          <div
            class="absolute top-0 left-0 right-0 bottom-0 w-full h-full grid place-items-center p-1"
          >
            <mat-icon
              *ngIf="!node.isChild"
              [svgIcon]="node | sidenavItemPipe"
            ></mat-icon>
          </div>
        </ng-template>
      </button>
    </li>
  </mat-tree-node>
  <mat-nested-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    [cdkTreeNodeTypeaheadLabel]="node.name | translate"
  >
    <li class="relative !h-fit py-0.5">
      <button
        #btn
        (click)="
          node.children.length > 0
            ? toggleNode(node, btn)
            : nodeClicked($event, node)
        "
        type="button"
        class="mat-tree-node btn btn-ghost w-full h-full relative text-white text-sm hover:bg-[#f26f21]"
        [class]="
          (node | isSidenavActiveLink : currentPathName()) && !node.isChild
            ? 'bg-[#f26f21]'
            : ''
        "
      >
        <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full p-1">
          <div
            class="flex flex-row items-center justify-between relative w-full h-full"
          >
            <ng-container *ngIf="s_isFullyExpanded(); else mediumExpanded">
              <div class="flex flex-row items-center space-x-1">
                <mat-icon
                  *ngIf="!node.isChild"
                  [svgIcon]="node | sidenavItemPipe"
                ></mat-icon>
                <h6 class="text-sm font-medium mx-2 mt-1">
                  <!-- {{ "sideNavItems." + node.name.trim() | translate }} -->
                  {{ node.name.trim() | translate }}
                </h6>
              </div>
              <mat-icon
                [svgIcon]="
                  treeControl.isExpanded(node) ? 'chevron-up' : 'chevron-down'
                "
                matPrefix
                class="mat-icon-rtl-mirror text-white"
              ></mat-icon>
            </ng-container>
            <ng-template #mediumExpanded>
              <div class="grid place-items-center w-full h-full">
                <mat-icon
                  *ngIf="!node.isChild"
                  [svgIcon]="node | sidenavItemPipe"
                ></mat-icon>
              </div>
            </ng-template>
          </div>
        </div>
      </button>
      <ul
        class="dropdown-list relative"
        [@slideVertical]="treeControl.isExpanded(node) ? 'show' : null"
      >
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
