<div class="flex flex-col w-full">
  <div class="flex flex-col">
    <div class="flex flex-col py-2">
      <p class="font-m_black text-2xl p-x2">Change Password</p>
    </div>
    <ng-container *ngIf="$formInputs | async as formInput">
      @if (formInput.labelExpired || formInput.labelLongTimeExpired) {
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
        role="alert"
      >
        <strong>
          @if (formInput.labelExpired) {
          {{ "Your password has expired. Please change it." }}
          } @else if (formInput.labelLongTimeExpired) {
          {{
            "Your password has not been updated in the last 90 days. Please change your password."
          }}
          } @else {}
        </strong>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <!-- <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg> -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-exclamation-circle fill-current h-6 w-6 text-red-500"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
            />
            <path
              d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
            />
          </svg>
        </span>
      </div>
      }
    </ng-container>
    <form
      id="change-password-form"
      class="flex flex-col w-full space-y-2 pt-2"
      [formGroup]="changePasswordFormGroup"
      (ngSubmit)="onChangePasswordClicked($event)"
    >
      <div class="flex flex-col w-full space-y-1 relative h-auto">
        <p class="font-bold text-xs">Current Password</p>
        <mat-form-field class="lg:w-1/2 w-full h-auto">
          <input
            type="password"
            class="text-xs w-1/2"
            matInput
            [placeholder]="'Your current password'"
            [formControl]="currentPassword"
            (paste)="$event.preventDefault()"
            (copy)="$event.preventDefault()"
            (cut)="$event.preventDefault()"
          />
          @if(AppUtilities.hasFormControlError(currentPassword)) {
          <mat-error>
            <span>
              @if (currentPassword.hasError('required')) {
              {{ "Please fill." }}
              }
            </span>
          </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex flex-col w-full space-y-1 relative h-auto">
        <p class="font-bold text-xs">New Password</p>
        <mat-form-field class="lg:w-1/2 w-full h-auto">
          <input
            #newPasswordInput
            type="password"
            class="text-xs"
            matInput
            [placeholder]="'Enter new password'"
            [formControl]="newPassword"
            (paste)="$event.preventDefault()"
            (copy)="$event.preventDefault()"
            (cut)="$event.preventDefault()"
          />
          @if (AppUtilities.hasFormControlError(newPassword)) {
          <mat-error>
            <span>
              @if (newPassword.hasError('required')) {
              {{ "Please fill" }}
              } @else if (newPassword.hasError('pattern')) {
              {{
                "Use 8-14 characters with at least one number, special character, lowercase, and uppercase letter."
              }}
              } @else if (newPassword.hasError('matching')) {
              {{ "Passwords do not match." }}
              } @else {}
            </span>
          </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex flex-col w-full space-y-1 relative h-auto">
        <p class="font-bold text-xs">Confirm Password</p>
        <mat-form-field class="lg:w-1/2 w-full h-auto">
          <input
            #confirmPasswordField
            type="password"
            class="text-xs"
            matInput
            [placeholder]="'Confirm password'"
            [formControl]="confirmPassword"
            (paste)="$event.preventDefault()"
            (copy)="$event.preventDefault()"
            (cut)="$event.preventDefault()"
          />
          @if (AppUtilities.hasFormControlError(confirmPassword)) {
          <mat-error>
            <span>
              @if (confirmPassword.hasError('required')) {
              {{ "Please fill" }}
              } @else if (confirmPassword.hasError('pattern')) {
              {{
                "Use 8-14 characters with at least one number, special character, lowercase, and uppercase letter."
              }}
              } @else if (confirmPassword.hasError('matching')) {
              {{ "Passwords do not match." }}
              } @else {}
            </span>
          </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex flex-row items-center justify-end lg:w-1/2 w-full py-2">
        <button
          mat-button
          color="warn"
          type="button"
          (click)="onChangePasswordReset()"
        >
          Reset
        </button>
        <button
          type="submit"
          form="change-password-form"
          mat-flat-button
          color="primary"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
