<!-- <div id="login-page" class="w-screen h-screen grid place-items-center relative">
  <div
    class="default-shadow w-11/12 sm:w-full sm:max-w-sm md:max-w-md lg:max-w-lg max-h-none flex flex-col px-4 py-8 rounded-lg space-y-4 relative"
  >
    <div class="flex flex-row items-center divide-x space-x-4 justify-center">
      <img
        class="w-3/12"
        src="assets/images/b-smart-acamedia-logo.png"
        alt=""
      />
      <img class="w-3/12 pl-4" src="assets/images/nmb-light.png" alt="" />
    </div>
    <h1
      class="text-lg font-m_black md:text-2xl lg:text-3xl text-center border-b"
    >
      B-Smart Academia
    </h1>
    <app-login-form
      [loginButtonClientId]="loginButtonClientId"
      [usernameInputClientId]="usernameInputClientId"
      [passwordInputClientId]="passwordInputClientId"
    ></app-login-form>
  </div>
  <p
    class="absolute bottom-0 w-full text-center font-m_black text-neutral-400 text-xs tracking-widest"
  >
    Powered by <span>Biz-Logic Solutions</span>
  </p>
</div> -->

<!-- <div
  id="login-page"
  class="absolute top-0 left-0 right-0 bottom-0 w-full h-full grid place-items-center"
>
  <img class="w-96" src="assets/images/nmb-light.png" alt="" srcset="" />
</div> -->

<app-login-form
  [loginButtonClientId]="loginButtonClientId"
  [usernameInputClientId]="usernameInputClientId"
  [passwordInputClientId]="passwordInputClientId"
  [forgotPasswordLinkClientId]="forgotPasswordClientId"
  [admissionLinkClientId]="admissionLinkClientId"
></app-login-form>
