<div class="flex flex-col w-full">
  <div class="p-2 bg-accent w-full rounded-full">
    <p class="text-xl text-neutral-50 tracking-wide">Instructions</p>
  </div>
  <div class="flex flex-col w-full space-y-2 p-2">
    <p class="text-sm lg:text-lg">
      This page is for Requesting admission for student.
    </p>
    <ul class="list-disc">
      <li class="text-xs lg:text-sm ml-12">Enter student details</li>
      <li class="text-xs lg:text-sm ml-12">
        You will receive Control Number your mobile number
      </li>
      <li class="text-xs lg:text-sm ml-12">
        Make payment using obtained Control Number.
      </li>
      <li class="text-xs lg:text-sm ml-12">
        You will be contacted for further details.
      </li>
    </ul>
  </div>
</div>
