<div
  class="navbar bg-base-100 w-full fixed top-0 left-0 right-0 z-50 shadow-xl h-[75px]"
>
  <form
    [formGroup]="formGroup"
    class="w-full h-full absolute top-0 left-0 right-0 bottom-0 flex flex-row items-center justify-between px-2"
  >
    <div class="flex flex-row items-center h-full py-1">
      <img
        class="h-full w-full max-w-[68px] lg:max-w-[100px] bg-center bg-contain nav-logo-img bg-no-repeat"
        alt=""
        srcset=""
        src="../assets/assets/images/B-Smart_Academia_transparent.png"
      />
      <div class="flex flex-row items-center space-x-2">
        <div class="hamburger hamburger--spin p-2">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        <h5 class="hidden lg:block school-title mb-0 text-bsl">
          B-Smart Academia
        </h5>
      </div>
    </div>
    <div class="flex flex-row items-center space-x-1 lg:space-x-4">
      <div class="dropdown dropdown-end">
        <div
          tabindex="0"
          role="button"
          class="btn flex flex-row items-center btn-ghost bg-transparent"
        >
          <mat-icon
            [svgIcon]="
              (language.value | findLanguage : (languages$ | async)!)!.icon
            "
          ></mat-icon>
          <h6 class="hidden lg:block">
            {{ (language.value | findLanguage : (languages$ | async)!)!.label }}
          </h6>
        </div>
        <ul
          tabindex="0"
          class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 shadow"
        >
          <li *ngFor="let lang of languages$ | async">
            <a
              (click)="changeLanguage($event, lang.code)"
              class="flex flex-row items-center justify-between"
            >
              <span class="flex flex-row items-center space-x-1">
                <mat-icon [svgIcon]="lang.icon"></mat-icon>
                <h6>
                  {{ lang.label }}
                </h6>
              </span>
              <div
                *ngIf="lang.code === language.value"
                class="w-3 h-3 bg-primary rounded-full"
              ></div>
            </a>
          </li>
        </ul>
      </div>
      <button #btn [matMenuTriggerFor]="menu" class="h-full btn btn-ghost">
        <div class="flex flex-row items-center space-x-2">
          <div class="avatar">
            <div
              class="ring-primary ring-offset-base-100 w-8 rounded-full ring ring-offset-2"
            >
              <img src="../images/male-user.png" />
            </div>
          </div>
          <div class="flex flex-col w-full space-y-1">
            <h6 class="!text-left font-semibold capitalize">
              {{ s_username().toLocaleLowerCase() }}
            </h6>
            <h6 class="!text-left font-light capitalize">
              {{ s_designation().toLocaleLowerCase() }}
            </h6>
          </div>
          <mat-icon svgIcon="chevron-down"></mat-icon>
        </div>
      </button>
      <mat-menu class="!w-48" #menu="matMenu">
        <div class="flex flex-col w-full divide-y p-2">
          <span class="flex flex-col py-2">
            <h6 class="font-semibold">Login Time</h6>
            <h6 class="font-light text-xs">{{ s_loginTime() }}</h6>
          </span>
          <button (click)="logoutClicked($event)" #logOutBtn mat-menu-item>
            <mat-icon class="!text-red-500" svgIcon="log-out"></mat-icon>
            <span class="text-red-500">Logout</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </form>
</div>
