@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
//   font-family: "Myriad Pro Light";
//   src: url("./assets/fonts/Myriad-Pro-Light.otf");
// }

// @font-face {
//   font-family: "Myriad Pro Regular";
//   src: url("./assets/fonts/Myriad-Pro-Regular.ttf");
// }

// @font-face {
//   font-family: "Myriad Pro Black";
//   src: url("./assets/fonts/Myriad-Pro-Black.otf");
// }

// @font-face {
//   font-family: "Myriad Pro Bold";
//   src: url("./assets/fonts/Myriad-Pro-Bold.ttf");
// }

// mat-form-field.ng-invalid.ng-touched {
//   animation: example;
//   animation-duration: 0.3s;
//   margin-bottom: 20px;
//   position: relative;
// }
// @keyframes example {
//   from {
//     margin-bottom: 0;
//   }
//   to {
//     margin-bottom: 20px;
//   }
// }

.default-shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.mat-success {
  background-color: #198754;
  color: #ffffff;
}
.mat-error {
  background-color: #fee2e2;
  color: #ffffff;
}

.custom-table {
  @include mat.table-overrides(
    (
      //header-headline-color: #374151,
      header-headline-color: gray
    )
  );
}

table th {
  //@apply bg-slate-100;
  background-color: theme("colors.base-100") !important;
}

table tr:nth-child(odd) {
  background-color: theme("colors.neutral") !important;
}

table tr:nth-child(even) {
  background-color: #fefefe !important;
}
