<section class="flex flex-col w-full divide-y">
  <h6 class="text-2xl">
    {{ "setupPages.designation.labels.designation" | translate }}
  </h6>
  <div class="flex flex-col space-y-8 w-full py-2">
    <form
      [@inOutAnimation]
      id="academic-setup-form"
      class="w-full flex flex-col"
      [formGroup]="formGroup"
      (ngSubmit)="submitForm($event)"
    >
      <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-3">
        <div class="flex flex-col space-y-0.5 w-full">
          <h6 class="text-left text-xs font-bold">
            {{ "setupPages.designation.labels.designation" | translate }}
          </h6>
          <mat-form-field>
            <input
              type="text"
              [placeholder]="
                'setupPages.designation.form.placeholders.designation'
                  | translate
              "
              matInput
              [formControl]="designationName"
            />
            <mat-error>
              {{ "setupPages.designation.form.errors.designation" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="flex flex-row items-center justify-end space-x-2">
        <button
          (click)="resetForm($event)"
          color="warn"
          mat-button
          type="button"
        >
          {{ "defaults.reset" | translate }}
        </button>
        <button
          type="submit"
          form="academic-setup-form"
          color="primary"
          mat-flat-button
        >
          @if (designationTable.selection.hasValue()) {
          {{ "defaults.update" | translate }}
          } @else {
          {{ "defaults.create" | translate }}
          }
        </button>
      </div>
    </form>
    <app-designation-table
      [tableJson]="jsonTable"
      #designationTable
    ></app-designation-table>
  </div>
</section>
